<!--
    *  ---------------------------------------------------------------------------------  *
    *  -----  /layout-navbar.html  --  /src/components/layouts/layout-navbar.html  -----  *
    *  ---------------------------------------------------------------------------------  *
-->

<!--  ----------  NAVBAR  ----------  -->
<div class="navbar__container">


   
    <!--  -----  Botón del Menú Hamburguesa de Navegación Close -----  -->
    <button class="navbar__btn-close" type="button" aria-label="Cerrar menú de navegación">
        <div class="btn__icon-close"> </div>
        <div class="btn__icon-close"> </div>
    </button>

    

    <!--  -----  Lista del menú (HOME)  -----  -->
    <ul class="navbar__list">

        <!--  -----  Título del menú (navbar)  -----  -->
        <li class="navbar__title">

            <!--  -----  Logo de typescript -----  -->
            <a href="#" target="_blank" rel="noopener noreferrer">
                <img class="navbar__logo-typescript"
                    src="../../../assets/logos/typescript-logo.svg"
                    alt="Logo TypeScript">
            </a>

            <h3>
                HOME
            </h3>

            <!--  -----  Logo de JavaScript -----  -->
            <a href="https://jqueryui.com/" target="_blank" rel="noopener noreferrer">
                <img class="navbar__logo-javascript"
                    src="../../../assets/logos/javascript-logo.svg"
                    alt="Logo JavaScript">
            </a>

        </li>


        <!--  -----  item Home  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="home" data-route="route-00-home">
                Home
            </a>
        </li>

    </ul>



    <!--  -----  Lista del menú (Temario JavaScript)  -----  -->
    <ul class="navbar__list">

        <!--  -----  Título del menú (navbar)  -----  -->
        <li class="navbar__title">

            <!--  -----  Logo de TypeScript -----  -->
            <a href="https://developer.mozilla.org/es/docs/Web/JavaScript" target="_blank" rel="noopener noreferrer">
                <img class="navbar__logo-typescript"
                    src="../../../assets/logos/typescript-logo.svg"
                    alt="Logo TypeScript">
            </a>

            <h3>
                Temario JavaScript
            </h3>

            <!--  -----  Logo de JavaScript -----  -->
            <a href="https://developer.mozilla.org/es/docs/Web/JavaScript" target="_blank" rel="noopener noreferrer">
                <img class="navbar__logo-javascript"
                    src="../../../assets/logos/javascript-logo.svg"
                    alt="Logo JavaScript">
            </a>

        </li>

        <!--  -----  item 01 - Introducción  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="introduccion" data-route="01-route-introduccion">
                01 — Introducción
            </a>
        </li>

        <!--  -----  item 02 - Variables  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="variables" data-route="02-route-variables">
                02 — Variables
            </a>
        </li>

        <!--  -----  item 03 - Tipos de Datos  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="tiposDeDatos" data-route="03-route-tipos-de-datos">
                03 — Tipos de Datos
            </a>
        </li>

        <!--  -----  item 04 - Objetos  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="objetos" data-route="04-route-objetos">
                04 — Objetos
            </a>
        </li>

        <!--  -----  item 05 - Arreglos  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="arreglos" data-route="05-route-arreglos">
                05 — Arreglos
            </a>
        </li>

        <!--  -----  item 06 - Funciones y Métodos  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="funcionesMetodos" data-route="06-route-funciones-metodos">
                06 — Funciones y Métodos
            </a>
        </li>

        <!--  -----  item 07 - Estructuras de Control  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="estructurasDeControl" data-route="07-route-estructuras-de-control">
                07 — Estructuras de Control
            </a>
        </li>

        <!--  -----  item 08 - POO  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="poo" data-route="08-route-poo">
                08 — Programación Orientada a Objetos
            </a>
        </li>

        <!--  -----  item 09 - Asincronía  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="asincronia" data-route="09-route-asincronia">
                09 — Asincronía
            </a>
        </li>

        
    </ul>


</div>